#click{
    gap: 20px;
    padding: 20px;
    align-items: center;
    justify-content: center;
    display: flex;
    margin: 0;
    animation: fade;
    list-style-type: none;
    color: white;
    text-decoration: none;
    border: 10px black;
 
 
 }
 
 
 
 
 .click ul{
    list-style-type: none;
    border: 5px black;
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    text-align: center;
    background-color: hsl(0, 0%, 5%, 0.5);
 
 }
 
 .click a{
    font-size: 2.5rem;
    font-weight: bold;
    cursor: pointer;
    border: none;
    animation: fade;
    animation-duration: 1.5s;
    list-style-type: none;
    color: white;
    text-decoration: none;
    border: 5px black;
 }
 
 .click a:hover{
    text-shadow: 0 1px 5px white;
 
 }
 .click a:hover{
    text-shadow: 0 2px 20px white;
 
 }
 
 
 body{
    background-image: url('background.jpg');
    background-size: cover;
    background-position: center;
    margin: 0;
    align-items: center;
    background-size: 100%;
    justify-content: center;

 }

#myH1{
    font-size: 4rem;
    font-family: Arial, sans-serif;
    color: black;
    text-shadow: 0px 3px 25px white;
    animation: fade;
    animation-duration: 1.5s;
    display: flex;
    flex-direction: column;
}

#container{
    display: flex;
    align-items: center;
    flex-direction: column;
    border: 5px;
    border-radius: 50px;
    padding: 30px;
    background-color: white;
    box-shadow: 0px 3px 25px black;
    animation: fade;
    animation-duration: 1.5s;
    justify-content: center;
    align-items: center;
}

#display{
    font-size: 5rem;
    font-weight: bold;
    color: black;
    font-family: monospace;
    text-shadow: 2px 2px 3px gray;
    margin-bottom: 25px;
    animation: fade;
    animation-duration: 1.5s;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
}


#controls button{
    font-size: 1.5rem;
    font-weight: bold;
    padding: 10px 20px;
    margin: 5px;
    border: none;
    min-width: 125px;
    border-radius: 10px;
    cursor: pointer;
    color: white;
    animation: fade;
    animation-duration: 1.5s;
    justify-content: center;
    align-items: center;
    
}

#startBtn{
    background-color: hsl(115, 100%, 43%);
    box-shadow: 0px 3px 20px gray;
    animation: fade;
    animation-duration: 1.5s;

}

#startBtn:hover{
    background-color: hsl(115, 100%, 45%);
    box-shadow: 0px 3px 10px  hsl(115, 100%, 35%);
    font-size: 1.53rem;
}

#startBtn:active{
    background-color: hsl(115, 100%, 50%);
    box-shadow: 0px 3px 15px  hsl(115, 100%, 35%);;
    font-size: 1.55rem;
}

#stopBtn{
    background-color: hsl(10, 90%, 50%);
    box-shadow: 0px 3px 20px gray;
    animation: fade;
    animation-duration: 1.5s;
}

#stopBtn:hover{
    background-color: hsl(10, 90%, 55%);
    box-shadow: 0px 3px 10px red;
    font-size: 1.53rem;
}

#stopBtn:active{
    background-color: hsl(10, 90%, 60%);
    box-shadow: 0px 3px 15px red;
    font-size: 1.55rem;
}

#resetBtn{
    background-color: hsl(205, 90%, 60%);
    box-shadow: 0px 3px 20px gray;
    animation: fade;
    animation-duration: 1.5s;
}

#resetBtn:hover{
    background-color: hsl(205, 90%, 65%);
    box-shadow: 0px 3px 10px hsl(205, 90%, 45%);
    font-size: 1.53rem;
}

#resetBtn:active{
    background-color: hsl(205, 90%, 70%);
    box-shadow: 0px 3px 15px hsl(205, 90%, 45%);
    font-size: 1.55rem;
}



 @keyframes fade {
    from {opacity: .5;}
    to {opacity: 1;}
 }

 ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
  }
  
  li {
    float: left;
    border-right:1px solid #bbb;
  }
  
  li:last-child {
    border-right: none;
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  li a:hover:not(.active) {
    background-color: hsl(0, 0%, 5%, 0.6)
  }
  
  .active {
    background-color: #04AA6D;
  }